<h1>Web Content Management</h1>
<div class="admin-nav">
  <%=  build_page_tree @pages %>

  <!--<ul>
    <li>Startseite</li>
    <li>
      Mannschaften
      <ul>
        <li>Frauen</li>
        <li>
          M채nner
          <ul>
            <li>1. M채nner</li>
            <li>2. M채nner</li>
            <li>3. M채nner</li>
          </ul>
        </li>
        <li>Jugend</li>
      </ul>
    </li>
  </ul>-->
</div>
<div class="admin-content">
  <%= render :partial => "admin/pages/pagenav" %>
</div>