<div class="admin-nav">
  <%= display_tree_recursive(@pages, 0) { |n| link_to n.title, edit_admin_page_path(n.id) } %>
</div>
<div class="admin-content">
  <%= render :partial => "admin/pages/pagenav" %>
</div>