<h1>Startseite</h1>
<p>
  Herzlich Willkommen im Backend-Bereich des CMS! <br /><br />
  Hier können alle nötigen Einstellungen vorgenommen werden. <br />
  In Zukunft wird es hier verschiedene Module geben,
  welche die Startseite zu einem universellen Dashboard machen.
</p>